absl-py
accelerate
alembic
aniso8601
annotated-types
attrs
bidict
blinker
blis
Brotli
catalogue
certifi
cffi
charset-normalizer
click # Was click==8.1.8
coloredlogs
contourpy
cryptography
cycler
cymem
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl#sha256=5e02939fb7fbae6dbcc9c5a1355f5e4e02939b649a1f0846ee844ac1d479bbeb
filelock
Flask
Flask-Cors
Flask-JWT-Extended
Flask-Login
gunicorn
Flask-Migrate
Flask-RESTful
Flask-SocketIO
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
gevent
gevent-websocket
greenlet
h11
huggingface-hub
humanfriendly
idna
importlib_metadata
importlib_resources
itsdangerous
jax
jaxlib
Jinja2
joblib
kiwisolver
langcodes
language_data
llvmlite
Mako
marisa-trie
MarkupSafe
matplotlib
mediapipe
ml-dtypes
more-itertools
mpmath
murmurhash
mutagen
networkx
nltk
numba
numpy
nvidia-cublas-cu12 # Note: Unpinning NVIDIA packages might lead to issues if specific driver/CUDA versions are expected by other packages like torch/jax on a GPU instance. For CPU instances on Render, these might not be critical.
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
onnxruntime
openai-whisper
opencv-contrib-python
opt_einsum
packaging
pathlib_abc
pathy
pillow
preshed
protobuf
psutil
pycparser
pycryptodomex
pydantic # Was pydantic==1.9.0
pydantic_core
pygame
PyJWT
pyparsing
pypng
python-dateutil
python-dotenv
python-engineio
python-socketio
python-vlc
pytube
pytz
PyYAML
qrcode
regex
requests # Was already unpinned
safetensors
scikit-learn
scipy
sentencepiece
simple-websocket
six
smart-open
sounddevice
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
sympy
threadpoolctl
tiktoken
tmdbv3api
tokenizers
torch
torchaudio
torchvision
tqdm
transformers
triton
typer
typing_extensions
urllib3
wasabi
websockets
Werkzeug
wsproto
yt-dlp
zipp
zope.event
zope.interface